---
- hosts: all
  become: yes


  tasks:
    - name: Create odoo_backup directory
      file:
        path: /home/bitnami/odoo_backup
        state: directory
        owner: bitnami
        group: odoo
        mode: 0775

    - name: Create .aws directory
      file:
        path: /home/bitnami/.aws
        state: directory
        owner: bitnami
        group: bitnami


    - name: Copy AWS credential file to odoo server
      copy:
        src: ~/.aws/credentials
        dest: /home/bitnami/.aws/credentials

    - name: Add custom_addons as addons_path to odoo.conf
      replace:
        path: /opt/bitnami/odoo/conf/odoo.conf
        regexp: 'addons_path = /opt/bitnami/odoo/addons'
        replace: 'addons_path = /opt/bitnami/odoo/addons,/home/bitnami/custom_addons'
        backup: yes

    - name: Install necessary python libraries
      shell: "pip3 install --upgrade pip; pip3 install paramiko dropbox"

    - name: Restart all odoo related services
      shell: "/opt/bitnami/ctlscript.sh restart"

    - name: Stop and disable timesyncd
      shell: "systemctl stop systemd-timesyncd; systemctl disable systemd-timesyncd"

    - name: Ensure chrony is present
      apt:  name=chrony state=present

    - name: Edit crony conf file
      shell: "sed -i '1s/^/server 169.254.169.123 prefer iburst minpoll 4 maxpoll 4\n/' /etc/chrony/chrony.conf"

    - name: Restart chrony
      shell: "/etc/init.d/chrony restart"
      

    - name: Set S3 backup cronjob
      cron:
        name: odoo_backup
        user: bitnami
        hour: '*/1'
        job: aws s3 sync /home/bitnami/odoo_backup s3://ssx-postgres-backups/ssx-restore/