---
- hosts: all
  become: yes

  vars_files:
    - vars.yml

  tasks:
    - name: Create odoo log directory
      file:
        state: directory
        path: /var/log/odoo
        owner: odoo
        group: odoo

    - name: Clone of a single branch of odoo repo
      git:
        repo: "{{ odoo_repo }}"
        dest: "{{ odoo_dir }}/odoo-server"
        single_branch: yes
        version: "{{ odoo_version}}"
        depth: 1
        clone: yes
        update: yes
        force: yes

    - name: Change permissions on odoo directory
      file:
        dest: "{{ odoo_dir }}/odoo-server"
        state: directory
        mode: 0755
        owner: "{{ odoo_user }}"
        group: "{{ odoo_group }}"

    - name: Install odoo requirements
      shell: "pip3 install -r {{ odoo_dir }}/odoo-server/requirements.txt"

    - name: Copy odoo.conf file with owner and permissions
      template:
        src: "/vagrant/config/odoo.conf.j2"
        dest: "/etc/odoo.conf"
        owner: "{{ odoo_user}}"
        group: "{{ odoo_group }}"
        mode: '0640'

    - name: Copy odoo.service file with owner and permissions
      template:
        src: "/vagrant/config/odoo.service.j2"
        dest: "/etc/systemd/system/odoo.service"
        owner: "root"
        group: "root"
        mode: '0755'    

    - name: Start odoo service
      shell: "systemctl restart odoo.service"
    

    - debug: var=hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address']