[options]
admin_passwd = {{ admin_passwd }}
addons_path=/vagrant/custom_addons, /opt/odoo/odoo-server/addons
db_host = localhost
xmlrpc_port = 8069
db_user = {{ odoo_user_db }}
db_password = {{ odoo_password_db }}
logfile = /var/log/odoo/odoo-server.log